<div
  class="relative bg-[url('/banner-background-auth.jpg')] bg-cover bg-no-repeat min-h-screen h-full pt-20"
>
  <div class="relative bg-black/40 mx-auto w-fit p-6">
    <!-- <img src="/logo.png" width="300" height="100" alt="Logo FitGest" /> -->
    <p class="text-center mt-8 text-white">Selecione uma unidade abaixo:</p>
    <!-- <div *ngIf="academies$ | async as academies">
      @for (academy of academies ; track academy.street) {
      <div>{{ academy.street }}</div>
      }
    </div> -->
  </div>
</div>
