<div
  class="relative flex flex-col gap-4 items-center justify-center text-white bg-[url(/banner-auth-card.jpg)] bg-cover bg-no-repeat bg-right md:rounded-xl rounded-xl p-4 w-full"
>
  <div class="bg-slate-800/70 absolute inset-0 md:rounded-xl rounded-xl"></div>
  <h4 class="relative text-lg max-w-[320px] text-center mx-auto">
    Bem-vindo(a) ao melhor sistema de gerenciamento de academias!
  </h4>
  <div class="md:grid md:grid-cols-2 space-y-2 gap-4 place-items-center">
    <div class="card-features">
      <span class="material-symbols-rounded text-4xl"> finance </span>
      <p class="text-sm font-medium">Painel Financeiro</p>
    </div>
    <div class="card-features">
      <span class="material-symbols-rounded text-4xl"> checklist </span>
      <p class="text-sm font-medium">Fichas de Treino</p>
    </div>
    <div class="card-features">
      <span class="material-symbols-rounded text-4xl"> sports_gymnastics </span>
      <p class="text-sm font-medium">Modalidades</p>
    </div>
    <div class="card-features">
      <span class="material-symbols-rounded text-4xl"> category </span>
      <p class="text-sm font-medium">Controle de Planos</p>
    </div>
  </div>
</div>
