<div class="h-full">
  <div
    class="mx-auto mt-20 shadow-md border-zinc-100 border rounded-xl p-6 w-1/2 space-y-3"
  >
    <h1 class="text-center text-xl text-[--primary] font-medium">
      Painel de Visão Geral em breve!
    </h1>
    <ul
      class="list-decimal text-[--muted] mx-auto w-fit space-x-10 justify-between flex"
    >
      <div>
        <li>Clientes Cadastrados</li>
        <li>Receitas Futuras</li>
        <li>Despesas Mensais</li>
      </div>
      <div>
        <li>Últimos lancamentos</li>
        <li>Painel de Notícias</li>
        <li>Modalidades</li>
      </div>
    </ul>
  </div>
</div>
